@model Transporte.Web.Models.AfiliadoViewModel

@{ ViewData["Title"] = "Create"; }


<h2>Create</h2>

<h4>Property</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAfiliado" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SindicatoId" />

            <div class="form-group">
                <label asp-for="NroDocumento" class="control-label"></label>
                <input asp-for="NroDocumento" class="form-control" />
                <span asp-validation-for="NroDocumento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.SindicatoId" class="btn btn-success">Back to Sindi</a>
            </div>
        </form>
    </div>
</div>